.header{
    width: 100%;
    height: 8.6rem;
    background: url(../images/header_bg.png) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.header_search{
    margin-top: .76rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    padding: 0 .37rem;
    box-sizing: border-box;
    color: #e5e5e5
}
.icon-saoyisao{
    font-size: .5rem;
}
.header_search input{
    width: 5.8rem;
    border-radius: .08rem;
    border: 0;
    background-color: rgba(255, 255, 255, .5);
    height: .6rem;
    line-height: .6rem;
    vertical-align: top;
    padding-left: .6rem;
}
.header_search input::-webkit-input-placeholder{
    color: #e5e5e5;
}
.header_search_input{
    position: relative;
    height: .6rem;
}
.header_search_input .iconfont{
    line-height: .6rem;
    position: absolute;
    top: 0;
    left: .1rem;
}
.suanli{
    width: 3.6rem;
    height: .6rem;
    line-height: .6rem;
    border-radius: .3rem;
    background-color: #3352a2;
    font-size: .24rem;
    color: #fff;
    text-indent: .4rem;
    margin: .4rem 0 0 3.55rem;
    position: relative;
}
.suanli_small{
    text-indent: 0;
    display: inline-block;
    width: 1.05rem;
    border-radius: .3rem;
    background-color: #557bcc;
    text-align: center;
    text-indent: 0;
    float: right;
}
.suanli_num{
    position: absolute;
    width: .32rem;
    height: .32rem;
    font-size: .24rem;
    line-height: .32rem;
    border-radius: .16rem;
    background-color: #ca4437;
    text-align: center;
    top: -.16rem;
    right: 0;
    text-indent: 0;
}
.suanli_first_num{
    font-size: .28rem;
    margin-left: .15rem;
}
.header_nav{
    font-size: .24rem;
    color: #fff;
    position: absolute;
    bottom: .2rem;
    width: 100%;
}
.header_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .37rem;
    box-sizing: border-box;
}
.header_nav_first,.header_nav_first p,.header_nav > p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_nav_first p,.header_nav p{
    flex-direction: column;
}
.header_nav_first p{
    margin-right: .6rem;
}
.header_nav_first .iconfont,.header_nav > p .iconfont{
    font-size: .6rem;
}
.content{
    width: 100%;
    box-sizing: border-box;
    padding: 0 .33rem 1rem;
}
.get_locaton h5,.adv h5,.zhaomu h5{
    font-size: .32rem;
    font-weight: 600;
    line-height: 1rem;
}
.get_locaton p{
    font-size: .32rem;
    color: #6d80b8;
    text-align: center;
    line-height: .72rem;
}
.get_location_btn {
    width: 4.8rem;
    height: .8rem;
    line-height: .8rem;
    color: #fff;
    background-color: #7198f7;
    border-radius: .4rem;
    text-align: center;
    margin: 0 auto;
}
.adv{
    padding-bottom: .3rem;
}
.adv_pic{
    width: 100%;
    height: 2.15rem;
    box-shadow: 0 0 .05rem #a7a7a7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adv_num{
    font-size: .32rem;
    color: #ff0000;
    border-right: 2px solid #e6e6e6;
    padding: 0 .32rem;
}
.adv_num span{
    font-size: .5rem;
}
.adv_text{
    padding-right: .32rem;
}
.adv_text p:first-child{
    font-size: .38rem;
    font-weight: 700;
    font-family: '黑体';
}
.adv_text p:last-child,.zhaomu > p{
    font-size: .28rem;
    color: #8f8f8f;
}
.swiper-slide{
    width: 100%;
    height: 2.8rem;
    overflow: hidden;
}
.swiper-slide img{
    width: 100%;
}
.swiper-pagination-bullet{
    width: .16rem;
    height: .07rem;
    background-color: #dbdbdb;
    border-radius: 0;
    margin: 0 .1rem;
    vertical-align: top;
}
.swiper-pagination-bullet-active{
    width: .23rem;
    background-color: #589bff;
}
.swiper-pagination{
    width: 100%;
    height: .07rem;
    position: unset;
}
.zhaomu{
    height: 4.9rem;
    overflow: hidden;
}
.article_title p:first-child{
    font-size: .32rem;
    font-weight: 700;
}
.article_title p:last-child{
    font-size: .26rem;
    margin-top: .35rem;
}
.article_title .iconfont{
    margin-right: .15rem;
}
.article_title .iconfont:nth-child(2n){
    margin-left: .3rem;
}
.article li{
    height: 2.4rem;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.artcle_pic{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.artcle_pic img{
    width: 2.14rem;
}

.article_person {
    font-size: .32rem;
    color: #919191;
    line-height: .9rem;
    text-align: center;
}

.article_person span{
    color: #ff1500;
}

.to_article{
    width: 1.67rem;
    height: .6rem;
    line-height: .6rem;
    background-color: #6798ff;
    color: #fff;
    text-align: center;
    margin: 0 auto .65rem;
    font-size: .32rem;
    border-radius: .3rem;
}

.other ul{
    display: flex;
    justify-content: space-between;
}

.other li{
    width: 3.25rem;
    height: 1.7rem;
    background-color: #f0f9ff;
    border-radius: .08rem;
    font-size: .18rem;
    color: #78819c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-indent: .32rem;
    line-height: 2;
}
.star{
    width: 100%;
    height: calc(100% - 4rem);
    position: absolute;
    top: 2.5rem;
}
.star1,.star2,.star3,.star4{
    position: absolute;
    animation: 2s toptobottom infinite;
}

.star1 img,.star2 img,.star3 img,.star4 img{
    width: .8rem;
}

.star_time,.star_name{
    font-size: .32rem;
}
.star_time{
    position: relative;
    font-weight: 700;
    color: #fff;
    font-size: .24rem;
}
.star_time p{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-weight: 700;
}
.star_name{
    color: #fff;
}

@keyframes toptobottom{
    0%{
        transform: translateY(0)
    }
    50%{
        transform: translateY(10px)
    }
    100%{
        transform: translateY(0)
    }
}