.header {
  height: 1.05rem;
  background-color: #2b3443;
  padding: 0 .38rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header span {
  color: #fff;
  font-size: .36rem;
  line-height: 1.05rem;
  display: inline-block;
}

.header .sousuo_cancel,
.header>span:first-child,
.header .save {
  font-size: .28rem;
  width: .6rem;
  text-align: right;
}

.header>span:first-child {
  text-align: left;
}

.list {
  padding: 0 .31rem;
  box-sizing: border-box;
  margin-top: .22rem;
}

.list li {
  height: 1.2rem;
  border-bottom: 1px solid #ededed;
  font-size: .3rem;
  display: flex;
  justify-content: space-between;
  color: #646464;
  align-items: center;
}

.list input {
  line-height: 1.2rem;
  text-align: right;
}

.list input::-webkit-input-placeholder {
  color: #646464;
}

.list li:last-child {
  border-bottom: 0;
}

.list .iconfont {
  margin-left: .15rem;
}

#upload_pic {
  display: none;
}

.put_pic,
.put_pic>div {
  width: 100%;
  height: 3.4rem;
  box-sizing: border-box;
  border: 1px solid #727783;
  border-radius: .08rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: .3rem;
}

.put_pic img {
  max-height: 100%;
}

.put_pic .iconfont {
  font-size: .5rem;
}

.choose_shensu {
  font-size: .3rem;
}

.choose_shensu input[type='radio'] {
  width: .3rem;
  height: .3rem;
  border-radius: .15rem;
  background: url(../images/choose_fail.png) no-repeat center center;
  background-size: cover;
}

.choose_shensu input:checked {
  background: url(../images/choose_success.png) no-repeat center center;
  background-size: cover;
}

.choose_shensu h5 {
  font-size: .36rem;
  padding: .2rem;
  box-sizing: border-box;
}

.choose_shensu li {
  padding: .2rem .5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.choose_shensu span {
  display: inline-block;
  margin-left: .3rem;
}

.other_reason {
  border-bottom: 1px solid #2b3443;
  line-height: .5rem;
  padding-left: .1rem;
  margin-left: .2rem;
}

.shensu_btn {
  width: 6rem;
  margin: .4rem auto;
  line-height: .8rem;
  text-align: center;
  color: #fff;
  background-color: #2b3443;
  border-radius: .4rem;
  box-shadow: .05rem .05rem .05rem #2b3443;
  font-size: .3rem;
}

.sale_info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: .28rem;
  padding: .23rem .33rem;
  box-sizing: border-box;
}

.iconfont.iconyinxingqia {
  color: #cde401;
}

.iconfont.iconweixin {
  color: #00b408;
}

.iconfont.iconzhifubao {
  color: #00a3ee;
}

.sale_info_pic {
  width: .86rem;
  height: .86rem;
  border-radius: .43rem;
  overflow: hidden;
}

.sale_info_pic img {
  width: 100%;
}

.sale_info_name {
  width: 3.8rem;
  margin-left: .2rem;
  overflow: hidden;
}

.sale_info_name>p {
  display: flex;
  color: #91949b;
  align-items: center;
  font-size: .24rem;
}

.sale_info_name .iconfont {
  margin: 0 .08rem;
}

.sale_info_name_txt {
  color: #646464;
  font-size: .32rem;
  font-weight: 700;
}

.sale_info_money {
  color: #ff753c;
  font-size: .36rem;
}

.sale_pingjia {
  padding: 0 .34rem;
}

.sale_pingjia ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-bottom: .3rem;
  border-bottom: 1px solid #dedede;
}

.sale_pingjia ul li {
  width: 33%;
  font-size: .32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sale_pingjia ul li>p:first-child {
  color: #000;
}

.sale_pingjia ul li>p:nth-child(2) {
  color: #7d7d7d;
  font-size: .3rem;
}

.sale_message {
  font-size: .32rem;
  padding: .34rem;
  box-sizing: border-box;
}

.sale_num {
  font-size: .3rem;
  padding: .2rem 0;
  background-color: #f1f0f6;
  color: #484848;
}

.sale_num_content {
  background-color: #fff;
  padding: .3rem .34rem;
  box-sizing: border-box;
}

.sale_num_max {
  color: #ff753c;
  font-size: .24rem;
  line-height: 2;
}

.sale_num_content input {
  border-bottom: 1px solid #c5c5c5;
  width: 2rem;
  line-height: .46rem;
  caret-color: #ff753c;
}

.sale_num_content input:focus {
  border-color: #ff753c;
  border-width: 2px;
}

.sale_money_has {
  font-size: .28rem;
  margin-top: .2rem;
}

.sale_money_has span {
  color: #ff753c;
}

.sale_message_info {
  font-size: .26rem;
  color: #6b6b6b;
}

.sale_money_type {
  font-weight: 700;
  font-size: .28rem;
}

.sale_num_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layui-layer.layui-layer-page.sale {
  font-size: .3rem;
  border-radius: .2rem;
}

.layui-layer.layui-layer-page.sale h5 {
  font-size: .38rem;
  line-height: 1.25rem;
  text-align: center;
}

.layui-layer.layui-layer-page.sale p {
  padding: 0 .34rem;
  box-sizing: border-box;
  font-size: .32rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: .72rem;
}

.layui-layer.layui-layer-page.sale p.dialog_sale_message {
  padding: .2rem .34rem;
  color: #ff753c;
  line-height: 1.5;
}

.layui-layer.layui-layer-page.sale .layui-layer-btn0,
.layui-layer.layui-layer-page.sale .layui-layer-btn1 {
  width: 2.4rem;
  height: .82rem;
  background-color: #fff;
  color: #ff753c;
  line-height: .82rem;
  border: 1px solid #ff753c;
  text-align: center;
  border-radius: .05rem;
}

.layui-layer.layui-layer-page.sale .layui-layer-btn.layui-layer-btn- {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: .3rem;
}

.layui-layer.layui-layer-page.sale .layui-layer-btn0 {
  background-color: #ff753c;
  color: #fff;
}

.header>div {
  height: 100%;
  width: 30%;
}

.header>div:nth-child(2) {
  text-align: center;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header>div:nth-child(3) {
  text-align: right;
}

.header>div>span {
  font-size: .26rem;
  color: #fff;
}

.header>div:nth-child(2) span {
  display: inline-block;
  width: 1.42rem;
  height: .62rem;
  line-height: .62rem;
  border: 1px solid #4a5364;
  box-sizing: border-box;
  font-weight: 600;
}

.header>div:nth-child(2) span:first-child {
  border-right: 0;
}

.header>div:nth-child(2) span.active {
  background-color: #4a5364;
  color: #ebebeb;
}

.header>div:nth-child(3) span:first-child {
  margin-right: .4rem;
}

.header>div:nth-child(1) span:last-child {
  margin-left: .1rem;
}

/* .bi_type ul {
  font-size: .3rem;
  display: flex;
  justify-content: flex-start;
  line-height: .9rem;
  border-bottom: 1px solid #ebebeb;
  padding: 0 .2rem;
  box-sizing: border-box;
}

.bi_type ul li {
  width: 15%;
  text-align: center;
} */

.bi_type {
  width: 100%;
  font-size: .3rem;
  padding: 0 .2rem;
  overflow-x: scroll;
  box-sizing: border-box;
}

.bi_type ul {
  width: 500%;
  line-height: .7rem;
}

.bi_type li {
  width: 1rem;
  float: left;
  text-align: center;
}

.bi_type ul li.active {
  color: #ff753c;
  border-bottom: 2px solid #ff753c;
}

.home_list {
  padding: 0 .35rem;
  box-sizing: border-box;
}

.home_list_all {
  height: calc(100% - .9rem - .7rem);
  overflow-y: scroll;
}

.home_list li {
  padding: .3rem 0;
  box-sizing: border-box;
  font-size: .3rem;
  border-bottom: 1px solid #e4e4e4;
}

.home_list li .home_list_pic,
.record_list .record_list_pic {
  width: .55rem;
  height: .55rem;
  border-radius: .28rem;
  overflow: hidden;
}

.record_list .record_list_pic {
  width: .8rem;
  height: .8rem;
  border-radius: .4rem;
}

.home_list li .home_list_pic img,
.record_list .record_list_pic img {
  width: 100%;
  vertical-align: top;
}

.home_list li>div {
  margin-top: .2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.home_man_sale {
  font-size: .26rem;
}

.home_sale_money {
  font-size: .36rem;
  font-weight: 700;
  color: #646464;
}

.home_sale_money_type {
  width: 2rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home_sale_btn {
  width: 2rem;
  line-height: .7rem;
  color: #fff;
  background-color: #ff753c;
  text-align: center;
  border-radius: .05rem;
}

.home_bi {
  height: calc(100% - 1.05rem);
}

.layui-layer.layui-layer-page.choose_bi {
  width: 6rem;
  font-size: .3rem;
}

.layui-layer.layui-layer-page.choose_bi .home_dialog_choose {
  padding: .3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.layui-layer.layui-layer-page.choose_bi .home_dialog_choose ul {
  height: 3rem;
  overflow-y: scroll;
}

.layui-layer.layui-layer-page.choose_bi .home_dialog_choose ul>li {
  line-height: 2;
}

.home_dialog_choose_title {
  font-size: .36rem;
  font-weight: 600;
}

.header>div.record {
  width: 60%;
}

.bi_type.record ul li {
  width: 33%;
}

.bi_type.record ul {
  justify-content: space-between;
}

.record_list {
  font-size: .28rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: .3rem 0;
  border-bottom: 1px solid #e4e4e4;
}

.record_list_content {
  width: 4.3rem;
  margin-left: .3rem;
  line-height: 1.8;
}

.record_lists {
  padding: .3rem;
  box-sizing: border-box;
}

.record_list_name {
  font-size: .32rem;
  font-weight: 700;
}

.record_list_name span {
  font-size: .26rem;
  background-color: #ff753c;
  font-weight: normal;
  color: #fff;
  padding: 0 .1rem;
  margin-left: .2rem;
  vertical-align: bottom;
  border-radius: .05rem;
}

.record_list_status p {
  font-size: .30rem;
  line-height: 2;
}

.record_list_status p:first-child {
  font-weight: 700;
}

.record_list_status p:first-child.over {
  color: #ff753c;
}

.record_list_status p:first-child.doing {
  color: #ff0000;
}

.record_list_status p:first-child.cancel {
  color: #afaeae;
}

.order {
  font-size: .3rem;
  padding: .34rem;
  box-sizing: border-box;
}

.order_status,
.order_content>p,
.order_info,
.order_pay,
.order_pay_type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.03rem;
}

.order_status,
.order_content,
.order_info,
.order_message,
.order_pay,
.order_message_pay {
  border-bottom: 1px solid #e4e4e4;
}

.order_status span.success {
  color: #ff0000;
  font-size: .36rem;
}

.order_status span.doing {
  color: #00b408;
  font-size: .36rem;
}

.order_status span.cancel {
  color: #727783;
}

.order_content,
.order_message {
  padding: .3rem 0;
}

.order_info .iconfont {
  color: #ff753c;
}

.order_man_name {
  font-weight: 700;
  margin-left: .2rem;
}

.order_content>p>span:first-child,
.order_message>p:first-child {
  color: #646464;
}

.order_pay_type {
  width: 2rem;
}

.order_message_pay {
  text-align: center;
  padding: .3rem 0;
}

.order_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .4rem;
}

.order_btn span {
  display: inline-block;
  width: 30%;
  line-height: .7rem;
  text-align: center;
  color: #fff;
  border-radius: .35rem;
  background-color: rgb(109, 109, 109);
}

.order_btn span.important {
  background-color: #ff753c;
}

.order_time {
  color: #ff753c;
  font-weight: 700;
  padding: 0 .2rem;
}

.tosale {
  font-size: .3rem;
}

.tosale>ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .2rem 0;
}

.tosale>ul>li {
  width: 35%;
  line-height: .7rem;
  text-align: center;
  border: 1px solid #646464;
  border-radius: .1rem;
}

.tosale>ul>li.tobuy {
  border-color: rgb(44, 119, 0);
  background-color: #fff;
  color: rgb(44, 119, 0);
}

.tosale>ul>li.tosell {
  border-color: rgb(173, 26, 0);
  background-color: #fff;
  color: rgb(173, 26, 0);
}

.tosale>ul>li.tobuy_active {
  background-color: rgb(44, 119, 0);
  color: #fff;
  border-color: rgb(44, 119, 0);
}

.tosale>ul>li.tosell_active {
  background-color: rgb(173, 26, 0);
  color: #fff;
  border-color: rgb(173, 26, 0);
}

.input_sale {
  line-height: .7rem;
  width: 100%;
  border: 1px solid #aaaaaa;
}

.input_sale span {
  font-size: .26rem;
}

.input_sale input {
  width: 2.3rem;
  padding-left: .1rem;
}

.tosale_content {
  padding: .34rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.tosale_content>div {
  width: 48%;
}

.to_sale_title {
  color: #646464;
}

.to_sale_my_money {
  font-weight: 700;
  line-height: .7rem;
}

.to_sale_money {
  font-size: .28rem;
  color: #333;
  line-height: .7rem;
}

.to_sale_baifenbi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .2rem auto;
}

.to_sale_baifenbi span {
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: .05rem;
  font-size: .24rem;
  padding: 0 .1rem;
}

.buy_btn,
.sell_btn {
  width: 100%;
  line-height: .7rem;
  text-align: center;
  background-color: rgb(44, 119, 0);
  color: #fff;
  border-radius: .08rem;
  box-shadow: .05rem .05rem .05rem rgb(44, 119, 0);
}

.sell_btn {
  box-shadow: .05rem .05rem .05rem rgb(173, 26, 0);
  background-color: rgb(173, 26, 0);
}

.to_sale_detail.one li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  font-size: .34rem;
  font-weight: 700;
}

.to_sale_detail.two li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #646464;
  font-size: .24rem;
  line-height: 1.8;
  color: rgb(173, 26, 0);
}

.to_sale_detail.three li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #646464;
  font-size: .22rem;
  color: rgb(44, 119, 0);
  line-height: 1.8;
}

.tosale_detail_t1,
.tosale_detail_t2 {
  font-size: .36rem;
  font-weight: 700;
  color: #a88f02;
}

.tosale_detail_t2 {
  color: #646464;
}

.layui-layer.sousuo {
  width: 100% !important;
  height: 100%;
}

.g-container {
  font-size: .3rem;
}

.form-control {
  width: 5rem;
  background-color: transparent;
  color: #fff;
}

#groupid {
  padding: 0 .3rem;
}

#groupid li {
  line-height: .7rem;
  border-bottom: 1px solid #dbdbdb;
  text-indent: .3rem;
}

.header>div.add_nav {
  font-size: .3rem;
  position: absolute;
  top: .85rem;
  right: .05rem;
  background-color: #fff;
  padding: 0 .2rem;
  border-radius: .08rem;
  box-shadow: 0 0 .05rem #646464;
  height: 1.4rem;
  z-index: 999;
}

.header>div.add_nav li {
  line-height: .7rem;
}

.header>div.add_nav li:first-child {
  border-bottom: 1px solid #eaeaea;
}

.layui-layer-tips.user_msg {
  left: calc(100% - 1.5rem);
}

.layui-layer-tips.user_msg .layui-layer-content {
  background-color: #ff753c;
  color: #fff;
}

.layui-layer-tips.user_msg i.layui-layer-TipsL {
  border-bottom-color: #ff753c;
}

.layui-layer.pay_img {
  width: 4rem;
  height: 5rem;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  margin: auto;
}

.layui-layer.pay_img img {
  width: 90%;
  display: block;
  margin: .2rem auto;
}

.ewm p {
  font-size: .32rem;
  text-align: center;
  line-height: .7rem;
}

.news {
  height: .7rem;
  font-size: .3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  padding: 0 .2rem;
  border-bottom: 1px solid #e4e4e4;
}

.news span {
  line-height: .7rem;
  margin-right: .2rem;
}

.news .icontongzhi1 {
  color: #ff753c;
}

#test1>div>div {
  line-height: .7rem;
  padding-left: .2rem;
  font-size: .3rem;
  background-color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loading i{
  font-size: .6rem;
  margin-right: .4rem;
}

.loading{
  line-height: 1.2rem;
  text-align: center;
}

.bi_type.record ul{
  width: 100%;
}

.toorder .record_list_content{
  width: 3.8rem;
  font-size: .26rem;
}